/** GRID **/

.custom-max-height{
    max-height: 233px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    padding:.25rem!important;
    max-height: 350px;
  }

  .overlay-content{
    background-color: lightskyblue;
    height: 100%;
    width: 100%;
  }
  
  .post-image:hover .overlay {
    opacity: 0.6;
  }

  .middle{
    color:white;
    font-weight: bold;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-size: large;
  }


/** POST CSS**/
.item-icon{
    padding:5px;
}

.item-icon:first-child{
    padding-left:0px;
}

.item-icon:last-child{
    padding-right:0px;
}

.item-icon-right{
    position: absolute;
    padding:5px;
    right:10px;
}

.fa, .far,.fas{
    font-size:24px;
}

.alias, .liked{
    font-weight: bold;
}

.info > .alias, .info > .name{
    margin:0;
    font-size: 14px;
}

.cover > .avatar{
    height:40px;
    width:40px;
    border:1px solid lightgray;
    padding:1px;
}



.dropdown.show > .dropdown-menu{
    display:block!important;
}


/*** CREATE  MODAL */
#post-comment{
    width: 100%;
    height: 150px;;
}

#create-post-form > .button-actions .btn-action{
    margin-right:5px;
}

#create-post-form > .button-actions .btn-action i{
    font-size: 16px;
}